.App {
  text-align: center;
}

div#quote-box {
    width: 500px;
    text-align: center;
    padding: 100px;
    margin: 0 auto;
    background: black;
    position: relative;
    top: 160px;

}

p#text {
    font-size: 24px;
    color: white;
}

p#author {
    font-size: 18px;
    color: white;
    text-align: right;
    position: absolute;
    bottom: 80px;
    right: 20px;
    padding: 10px;
    margin-bottom: 10px;
  }


button#new-quote {
    color: black;
    font-size: 20px;
    padding: 15px;
    margin-bottom: px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    border: none;



}
button#new-quote:hover {
  text-decoration: none;
  cursor: pointer;
  border-style: none;
  border: none;

}

button#new-quote:focus {
  text-decoration: none;
  cursor: pointer;
  border-style: none;
  border: none;
  outline: none;

}
a#tweet-quote {
  color: white;
  position: absolute;
  bottom: 30px;
  left: 30px;
}



